<div class="container mt-2 mb-2">
    <div class="blockquote text-center text-secondary">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
            ante.
        </p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
        </footer>
    </div>
</div>

<script data-src="{{ "/assets/main.js" | relative_url }}" crossorigin="anonymous" defer></script>
<script>

    [].forEach.call(document.querySelectorAll('table'), function (img, i) {
        img.setAttribute('class', 'table');
    });

    var links = document.querySelectorAll('link[data-href]'),
        scripts = document.querySelectorAll('script[data-src]'),
        imgs = document.querySelectorAll('img[data-src]'),
        iframes = document.querySelectorAll('iframe[data-src]');

    var linksL = links.length - 1,
        scriptsL = links.length - 1,
        imgsL = imgs.length - 1;

    [].forEach.call(links, function (img, i) {
        img.setAttribute('href', img.getAttribute('data-href'));

        img.removeAttribute('data-href');

        img.onload = function () {
            if (linksL == i)
                lal();
        };
    });

    function lal() {
        [].forEach.call(scripts, function (img, i) {
            img.setAttribute('src', img.getAttribute('data-src'));

            img.removeAttribute('data-src');

            img.onload = function () {
                if (scriptsL == i)
                    lil();
                lol();
            };
        });
    }

    function lol() {
        [].forEach.call(imgs, function (img, i) {
            img.setAttribute('src', img.getAttribute('data-src'));

            img.removeAttribute('data-src');

            img.onload = function () {
                if (img.getAttribute('data-parent-a-class'))
                    img.parentNode.className += ` ${img.getAttribute('data-parent-a-class')}`;
                if (img.getAttribute('data-r-class'))
                    img.className = img.className.replace(img.getAttribute('data-r-class'), "");

                if (imgsL == i) {
                    ga('create', '{{ site.google_analytics }}', 'auto');
                    /*
                     if (typeof (commentsStart) === "function")
                        commentsStart();
                    */
                }
            };
        });
    }

    function lil() {
        [].forEach.call(iframes, function (img, i) {
            img.contentWindow.document.body.onclick = function () {
                console.log(1);
                img.setAttribute('src', img.getAttribute('data-src'));

                img.removeAttribute('data-src');


            };
            $(img).contents().find("head").append($("<style type='text/css'>  body{cursor:pointer}  </style>"));
        });
    }
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.js" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/contrib/auto-render.min.js" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>