<div class="container mt-2 mb-2">
    <div class="blockquote text-center text-secondary">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
            ante.
        </p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
        </footer>
    </div>
</div>
<script src="{{ "/assets/js/jquery-3.3.1.slim.min.js" | relative_url }}" crossorigin="anonymous"></script>
<script src="{{ "/assets/js/popper.min.js" | relative_url }}" crossorigin="anonymous"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}" crossorigin="anonymous"></script>