<div class="container mt-2 mb-2">
    <div class="blockquote text-center text-secondary">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
            ante.
        </p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
        </footer>
    </div>
</div>
<script>
    [].forEach.call(document.querySelectorAll('link[data-href]'), function (img) {
        img.setAttribute('href', img.getAttribute('data-href'));
        img.onload = function () {
            img.removeAttribute('data-href');
            lol();
            lal();
        };
    });

    function lol() {
        [].forEach.call(document.querySelectorAll('img[data-src]'), function (img) {
            img.setAttribute('src', img.getAttribute('data-src'));
            img.onload = function () {
                img.removeAttribute('data-src');
            };
        });
    }

    lal();

    function lal() {
        [].forEach.call(document.querySelectorAll('script[data-src]'), function (img) {
            img.setAttribute('src', img.getAttribute('data-src'));
            img.onload = function () {
                img.removeAttribute('data-src');
            };
        });
    }
</script>
<script data-src="{{ "/assets/main.js" | relative_url }}" crossorigin="anonymous" defer></script>
<!--<script data-src="{{ "/assets/js/jquery-3.3.1.slim.min.js" | relative_url }}" crossorigin="anonymous" defer></script>
<script data-src="{{ "/assets/js/popper.min.js" | relative_url }}" crossorigin="anonymous" defer></script>
<script data-src="{{ "/assets/js/bootstrap.min.js" | relative_url }}" crossorigin="anonymous" defer></script>-->