---
layout: default
---
{%- if site.posts.size > 0 -%}
<div class="container mt-2">
  <h1>{{ page.list_title | default: "Posts" }}</h1>
</div>
<div class="container mb-2">
  {%- for post in paginator.posts -%}
  <div class="card mt-2 mb-2">
    <div class="row no-gutters">
      {% if post.img %}
      <div class="col-md-3">
        <img class="card-img" data-src="{{ post.img | escape }}" alt="{{ post.img | escape }}">
      </div>
      {%- endif -%}
      <div class="col-md">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ post.url | relative_url }}" class="card-title">{{ post.title | escape }}</a>
          </h5>
          {%- if post.prehistory -%}
          <p class="card-text">{{ post.prehistory }}</p>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
  {%- endfor -%}
</div>
{%- endif -%}

{% if paginator.total_pages > 1 %}
<ul class="nav nav-pills justify-content-center">
  {% if paginator.previous_page %}
  <li class="nav-item">
    <a class="nav-link" href="{{ paginator.previous_page_path | relative_url }}">Prev</a>
  </li>
  {% endif %}

  {% comment %}
  {% for page in (1..paginator.total_pages) %}

  <li class="nav-item">
    {% if page == paginator.page %}
    <a class="nav-link active" href="{{ relative_url }}">{{ page }}</a>
    {% elsif page == 1 %}
    <a class="nav-link" href="/">{{ page }}</a>
    {% else %}
    <a class="nav-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  </li>

  {% endfor %}
  {% endcomment %}

  {% if paginator.next_page %}
  <li class="nav-item">
    <a class="nav-link" href="{{ paginator.next_page_path | relative_url }}">Next</a>
  </li>
  {% endif %}
</ul>
{% endif %}