---
layout: default
---

<div class="container mt-2 mb-2">
    <div class="card mt-2 mb-2">
        {% if page.image %}
        <img class="bd-placeholder-img card-img-top d-none" data-src="{{ page.image | escape }}" alt="{{ page.image | escape }}" data-r-class="d-none">
        {%- endif -%}
        <div class="card-body">
            <h1 href="#" class="card-title">{{ page.title | escape }}</h1>
            <div class="card-text">
                {{ content }}
            </div>
        </div>
    </div>
</div>
{%- if site.disqus.shortname -%}
{%- include_cached disqus_comments.html -%}
{%- endif -%}